
<article>
	<div class="content-block event">

	<%= image_tag 'event-image-placeholder.png', alt: 'image-placeholder', class: 'event-img' %>
		<section class="first">
		<h1>Edaville Railroads Festival of Lights</h1>
		<h3>Wednesday December 13 - Saturday December 31, 2014<br>
			Edaville Railroad, Carver, MA
		</h3>
						
		</section>
		<section class="listing-section">
			<h2>What</h2>
			 <div class="content">
			 	<div class="text">
			 		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doleorqme laundantium, totam rem aperiam, eaque ipsa quae ab illo inventore et quasi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doleorqme laundantium, totam rem aperiam, eaque ipsa quae ab illo inventore et quasi.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doleorqme laundantium, totam rem aperiam, eaque ipsa quae ab illo inventore et quasi.Sed ut perspiciatis unde omnis iste natus.</p>
			 		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doleorqme laundantium, totam rem aperiam, eaque ipsa quae ab illo inventore et quasi.Sed ut perspiciatam rem aperiam, eaque ipsa quae ab illo inventore et quasi.</p>
			 	</div>
			 		<div class="info">
				 		<span class="col"><h4>Run by <span class="name">Edaville Railroad</span></h4></span>
				 		<span class="col6"><h4>Attendees</h4>40 people</span>
				 		<span class="col6"><h4>Price</h4>$$$$$</span>
				 		<span class="col"><h4>Keywords</h4>
				 			<span class="tags">
				 				<a href="">atheist</a>,&nbsp;
				 				<a href="">regional</a>,&nbsp;
				 				<a href="">book talk</a>,&nbsp;
				 				<a href="">social</a>,&nbsp;
				 				<a href="">discussion</a>
				 			</span>
				 		</span>
				 		<span class="col share"><h4>Share</h4>
				 		<div class="icons-row">
				 				<%= image_tag 'event-fb-icon.png', alt: 'event-fb-icon', class: 'desktop-only icon' %>
				 				<%= image_tag 'event-gp-icon.png', alt: 'event-gp-icon', class: 'desktop-only icon' %>
				 				<%= image_tag 'event-twitter-icon.png', alt: 'event-twitter-icon', class: 'desktop-only icon' %>
				 				<%= image_tag 'event-mail-icon.png', alt: 'event-mail-icon', class: 'desktop-only icon' %>
				 				<%= image_tag 'event-share-icon.png', alt: 'event-share-icon', class: 'icon' %>
					 	</div>
					 	</span>
				 		
				 	</div>

			 </div>
		  
		</section>
		
		<section class="listing-section location">
			<h2>Location</h2>
			<div class="content">
				<address>
					<h3><a href=''>The Pavillion at Centre Court</a></h3>
					<span>42 Greenwich Ave</span>
					<span>Boston, MA</span>
					<p>Actual Location / Special Instructions<br>
					   Parking in the lot at this address, but come to 801b Merchantile Highway.
					</p>
				</address>
				<%= image_tag 'map-placeholder.png', alt: 'map-placeholder', class: 'address-map' %>
				<span class='distance'>20 miles from you in <a href=''>Boston, MA</a></span>
			</div> 				  
		</section>
		<section class="listing-section">
			<h2>Photos</h2>
			<div class="content">
				<div class="photo-container">
					<%= image_tag 'photo-placeholder.png', alt: 'map-placeholder', class: 'event photo' %>
				</div>
				<div class="photo-container">
					<%= image_tag 'photo-placeholder.png', alt: 'map-placeholder', class: 'event photo' %>
				</div>
				<div class="photo-container">
					<%= image_tag 'photo-placeholder.png', alt: 'map-placeholder', class: 'event photo' %>
				</div>
			</div>
			<button type="button" class="default-btn text-left">Add<span>+</span></button>
		</section>
		<section class="listing-section">
			<h2>Organiser</h2>
			<button type="button" class="default-btn text-left">Add<span>+</span></button>
		</section>
		<section class="listing-section links">
			<h2>Related Websites</h2>
			<div class="content">
				<div class="web-links">
					<a class="main-page" href=''>Main Page on mongoose.org</a>
					<span class="icon icon-delete"></span>
					<span class="icon icon-edit"></span>
				</div>
				<div class="web-links">
					<a class="twitter" href=''>@Mongoose</a>
					<span class="icon icon-delete"></span>
					<span class="icon icon-edit"></span>
				</div>

			</div>
			<button type="button" class="default-btn text-left">Add<span>+</span></button>
		</section>
		<section class="listing-section">
			<h2>Support Issues</h2>
			<button type="button" class="default-btn text-left">Add<span>+</span></button>
		</section>
		<section class="listing-section">
			<h2>Admin Control</h2>
			<fieldset class="col4">
		    	<legend>Display Status</legend>
				<select>
				  <option value="Unpublished">Unpublished</option>
				  <option value="5-10">5-10</option>
				</select>
			</fieldset>
		</section>
		<section class="final-actions">
			<button type="button" class="call-to-action-btn">Publish</button>
		</section>
	</div>

</article>
<aside class="banner-margin">
		<section>
			<h3 class="mascot-speaks">New groups are beautiful things</h3>
			<p>Adding a group is easy and free. Let's start with the name and website, and the region they cover, whether that's a city, a country, or the whole world.</p>
		</section>
		<section>
			<h3> Adding a new group</h3>
			<div class="image-content">
				<%= image_tag 'video-placeholder.jpg', alt: 'video-placeholder' %>
			</div>
		</section>
	</aside>
	