<%= content_for(:heading, 'Add a Listing') %>

<h3>I would like to add a...</h3>
<%= simple_form_for @listing do |f| %>
  <%= f.inputs do %>
    <%= f.input :type, as: :radio_buttons,
                       collection: Array(Listing::TYPES),
                       label: false %>
    <%= f.input :name %>
    <div class="row gutter">
      <%= f.input :website, wrapper_html: {class: 'col-6'} %>
      <%= f.input :location, wrapper_html: {class: 'col-6'} %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.button :submit, 'Add Event', class: 'call-to-action-btn' %>
  <% end %>
<% end %>
