<%= content_for(:heading, 'Add a Listing') %>

<h3>I would like to add a...</h3>
<%= simple_form_for @listing do |f| %>
  <%= f.input :type, as: :radio_buttons,
                     collection: Array(Listing::TYPES.first),
                     label: false %>
  <%= f.input :name %>
  <%= f.input :website %>
  <%= f.input :location %>

  <%= f.actions do %>
    <%= f.button :submit, 'Add Event', class: 'call-to-action-btn' %>
  <% end %>
<% end %>
