<% content_for(:heading, 'Add a New Event') %>

<%= simple_form_for @event, wrapper: :vertical_form do |f| %>
  <%= f.inputs do %>
    <section>
      <%= f.input :name %>
      <%= f.input :starts_at, as: :string %>

      <div class="row gutter">
        <%= f.input :price, as: :select,
                    collection: enum_option_pairs(Event, :price),
                    include_blank: false,
                    wrapper_html: {class: 'col-6'} %>
        <%= f.input :estimated_attendance,
                    as: :select,
                    collection: enum_option_pairs(Event, :estimated_attendance),
                    include_blank: false,
                    wrapper_html: {class: 'col-6'} %>
      </div>

      <%= f.input :description %>
    </section>

    <section>
      <h2 class="form-section-title"><%= t(:location) %></h2>
      <%= f.fields_for :location do |l| %>
        <%= l.input :original_address, label: false,
                                       placeholder: 'Type the name of a venue or city, or street address',
                                       html_options: {id: 'location-search'} %>
      <% end %>
    </section>

    <section>
      <h2 class="form-section-title"><%= t(:photos) %></h2>
    </section>

    <section>
      <h2 class="form-section-title"><%= t(:organizer) %></h2>
    </section>

    <section>
      <h2 class="form-section-title"><%= t(:websites) %></h2>
    </section>

    <% if user_signed_in? && current_user.admin? %>
      <section>
        <h2 class="form-section-title"><%= t(:admin_controls) %></h2>
      </section>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.button :submit, 'Publish', class: 'btn-primary-action' %>
    <%= f.button :button, 'Save Draft', class: 'btn-secondary-action' %>
    <%= link_to 'Cancel', root_path, class: 'btn btn-cancel' %>
  <% end %>
<% end %>
