<footer>
  <div class="footer-navigation">
    <div class="footer-navigation-wrapper">
      <div class="footer-navigation-container">
        <div class="advertise">
          <%= image_tag 'logo.png', alt: 'logo-footer', class: 'logo' %>
          <a href=""><%= t(:advertise) %></a>
        </div>

        <nav class="footer-menu">
          <div class="footer-menu-wrapper">
            <ul class="footer-menu-useful">
              <li>
                <a href=""><%= t(:home) %></a>
              </li>
              <li>
                <a href=""><%= t(:about) %></a>
              </li>
              <li>
                <a href=""><%= t(:articles) %></a>
              </li>
              <li>
                <a href=""><%= t(:login) %></a>
              </li>
            </ul>
            <ul class="footer-menu-secondary">
              <li>
                <a href=""><%= t(:listing_add) %></a>
              </li>
              <li>
                <a href=""><%= t(:subscribe) %></a>
              </li>
              <li>
                <a href=""><%= t(:contact) %></a>
              </li>
              <li>
                <a href=""><%= t(:help) %></a>
              </li>
            </ul>
            <ul class="footer-misc-links mobile-only">
              <li>
                <a href=""><%= t(:terms) %></a>
              </li>
              <li>
                <a href=""><%= t(:privacy_policy) %></a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="footer-social">
          <h3><%= t(:stay_connected) %></h3>
          <ul class="list-inline">
            <li>
              <a href="" class="icon icon-facebook grey"></a>
            </li>
            <li>
              <a href="" class="icon icon-twitter grey"></a>
            </li>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="wrapper">
      <span class="copyright-text">
        <%= t(:copyright_html) %>
      </span>
      <ul class="footer-misc-links desktop-only">
        <li>
          <a href=""><%= t(:terms) %></a>
        </li>
        <li>
          <a href=""><%= t(:privacy_policy) %></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
