<footer>
  <div class="footer-navigation">
    <div class="footer-navigation-wrapper">
      <nav class="footer-menu">
        <div class="footer-menu-advertise desktop-only">
          <%= image_tag 'logo.png', alt: 'logo-footer', class: 'logo' %>
          <a href=""><%= t(:advertise) %></a>
        </div>

        <ul class="footer-menu-all">
          <li>
            <a href=""><%= t(:home) %></a>
          </li>
          <li>
            <a href=""><%= t(:about) %></a>
          </li>
          <li>
            <a href=""><%= t(:articles) %></a>
          </li>
          <li>
            <a href=""><%= t(:login) %></a>
          </li>
          <li>
            <a href=""><%= t(:listing_add) %></a>
          </li>
          <li>
            <a href=""><%= t(:subscribe) %></a>
          </li>
          <li>
            <a href=""><%= t(:contact) %></a>
          </li>
          <li>
            <a href=""><%= t(:help) %></a>
          </li>
        </ul>
        <div class="footer-menu-social">
          <h3><%= t(:stay_connected) %></h3>
          <ul class="list-inline">
            <li>
              <a href="" class="icon icon-facebook grey"></a>
            </li>
            <li>
              <a href="" class="icon icon-twitter grey"></a>
            </li>
        </div>
      </nav>
    </div>
  </div>

  <div class="copyright">
    <div class="copyright-wrapper">
      <ul class="footer-misc-links">
        <li>
          <a href=""><%= t(:terms) %></a>
        </li>
        <li>
          <a href=""><%= t(:privacy_policy) %></a>
        </li>
      </ul>
      <div class="copyright-text">
        <%= t(:copyright_html) %>
      </div>
    </div>
  </div>
</footer>
