<header class="header">
  <div class="header-navigation">
    <div class="wrapper">
      <nav>
        <%= link_to root_path, class: 'logo-link' do %>
          <%= image_tag 'logo.png', alt: 'logo-header', class: 'logo' %>
        <% end %>
        <%= link_to t(:home), root_path, class: 'home-link' %>
        <%= link_to t(:about), '/about-johnny-monsarrat' %>
        <%= link_to t(:subscribe), '/subscribe' %>
        <%= link_to t(:events), '/events' %>
        <%= link_to t(:news), '/news' %>
        <%= link_to t(:contact), '/contact' %>
        <ul class="list-inline">
          <li>
            <a href="" class="icon icon-facebook grey"></a>
          </li>
          <li>
            <a href="" class="icon icon-twitter grey"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="quicksearch">
    <div class="quicksearch-wrapper">
      <h2>
        <%= t(:annotation) %>
      </h2>

      <div class="header-search-wrapper">
        <input id="site-search" class="header-search" type="search" name="search" placeholder="Search"/>
        <i class="icon icon-search desktop-only"></i>
      </div>
    </div>
  </div>
</header>
