<header>
  <div class="header-navigation">
    <div class="wrapper">
      <nav>
        <%= link_to root_path, class: 'logo-link' do %>
          <%= image_tag 'logo.png', alt: 'logo-header', class: 'logo' %>
        <% end %>
        <%= link_to t(:home), root_path, class: 'home-link' %>
        <a href=""><%= t(:about) %></a>
        <a href=""><%= t(:articles) %></a>
        <% if user_signed_in? %>
          <%= link_to t(:listing_add), new_listing_path %>
        <% else %>
          <%= link_to t(:login), new_user_session_path, remote: true, class: 'login-link' %>
          <%= link_to t(:signup), new_user_registration_path, remote: true, class: 'signup-link' %>
        <% end %>
        <a href=""><%= t(:contact) %></a>
        <a href=""><%= t(:help) %></a>
        <% if user_signed_in? %>
          <%= link_to t(:logout), destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="quicksearch">
    <div class="quicksearch-wrapper">
      <h2>
        <%= t(:annotation) %>
      </h2>

      <div class="search-box-icon-wrapper">
        <input id="site-search" class="search-box" type="text" name="search" placeholder="Search"/>
        <i class="icon icon-search desktop-only"></i>
      </div>
    </div>
  </div>
</header>
