<header>
  <div class="header-navigation">
    <div class="wrapper">
      <%= image_tag 'logo.png', alt: 'logo-header', class: 'logo' %>
      <nav>
        <%= link_to '', root_path, class: 'home-link desktop-only' %>
        <%= link_to t(:home), root_path, class: 'mobile-only' %>
        <a href=""><%= t(:about) %></a>
        <a href=""><%= t(:articles) %></a>
        <% if user_signed_in? %>
          <%= link_to t(:listing_add), new_listing_path %>
        <% else %>
          <%= link_to t(:login), new_user_session_path %>
          <%= link_to t(:signup), new_user_registration_path %>
        <% end %>
        <a href=""><%= t(:contact) %></a>
        <a href=""><%= t(:help) %></a>
        <span class="social desktop-only">
          <a href="" class="icon icon-facebook"></a>
          <a href="" class="icon icon-twitter"></a>
        </span>
      </nav>
    </div>
  </div>
  <div class="quicksearch">
    <div class="wrapper">
      <h2>
        <%= t(:annotation) %>
      </h2>

      <div class="search-box-icon-wrapper">
        <input id="site-search" class="search-box" type="text" name="search" placeholder="Search"/>
        <i class="icon icon-search desktop-only"></i>
      </div>
    </div>
  </div>
</header>
