<div class="modal fade" id="<%= modal_id %>"
                        role="dialog"
                        tabindex="-1"
                        aria-labelledby="<%= modal_id %>-title"
                        data-content-expired="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= close_button_tag(data: {dismiss: 'modal'}) %>
        <% if modal_title.present? %>
          <h3 class="modal-title mascot-speaks" id="<%= modal_id %>-title">
            <%= modal_title %>
          </h3>
        <% end %>
      </div>
      <div class="modal-body">
        <%= modal_body %>
      </div>
    </div>
  </div>
</div>
