<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <title>
      <%= yield(:title) + ' – ' if content_for?(:title) %>
      Events Insider
    </title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'libs' %>
    <%= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry' %>
    <%= javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <%= yield(:head) %>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%= render 'modals/login' %>
    <%= render 'modals/signup' %>
    <%= render 'modals/date_picker' %>
    <%= render 'common/header' %>

    <div class="content-wrapper">
      <main role="main">
        <% if content_for?(:content_title) %>
          <h1><%= yield(:content_title) %></h1>
        <% end %>
        <div class="content-block">
          <%= yield %>
        </div>
        <div class="clear"></div>
      </main>
      <aside>
        <%= yield(:sidebar) if content_for?(:sidebar) %>
      </aside>
    </div>
    <%= render 'common/footer' %>
  </body>

</html>
